<html>
	<head>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<title>Biblioteca Virtual</title>
		<!-- ================== BEGIN BASE JS ================== -->
		<!--<script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>-->
		<script src="{{STATIC_URL}}js/jquery-1.11.3.js" type="text/javascript"></script>
		<!--<script src="{{STATIC_URL}}js/jquery-migrate-1.1.0.min.js"></script>-->
		<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>	
		<!-- ================== END BASE JS ================== -->
		<!-- ================== END PAGE LEVEL JS ================== -->
		<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
		<link href="{{STATIC_URL}}css/font-awesome.min.css" rel="stylesheet" />
		<!-- ================== END BASE CSS STYLE ================== -->
		<!-- ================== BEGIN BASE JS ================== -->
		<!--<script src="{{STATIC_URL}}js/pace.min.js"></script>-->
		<!-- ================== END BASE JS ================== -->
	</head>

	<body>
		<h5>Here, Here moder foquers....</h5>
		<h4>Footbag y Birras <i class="fa fa-beer"></i></h4>
	</body>
</html>